[submodule "packages/qxdriver-quel1"]
	path = packages/qxdriver-quel1
	url = https://github.com/toshisumida/qxdriver-quel1.git
	branch = dual_readout
[submodule "packages/quelware-internal"]
	path = packages/quelware-internal
	url = https://github.com/toshisumida/quelware-internal.git
	branch = dual_readout
[submodule "packages/quelware-client"]
	path = packages/quelware-client
	url = https://github.com/quel-inc/quelware-client.git
	branch = main
[submodule "packages/qube-calib"]
	path = packages/qube-calib
	url = https://github.com/qiqb-osaka/qube-calib.git
	branch = develop
